<div class="container">
    <div class="jumbotron"></div>

    <h1>Exercise 1:</h1>
    <p>Make a website with</p>
    <ul><li>A single button labeled "hello world"</li><li>When you click the button, the text "Hello World!" appears below the button.</li></ul>
    <div class="form-group">
        <label>Your site:</label><input type="text" class="form-control" id="url" />
    </div>
    <div class="form-group">
        <a class="btn btn-lg btn-default" id="trigger">Test website</a>
    </div>
    <h3 id="output"></h3>
</div>
